/* ************** */
/* DESIGN CHOICES */
/* ************** */

  /* FONT SIZE SYSTEM (px) 
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 
  36 / 44/ 52 / 62 / 74 / 86 / 98 */


  /* SPACING SYSTEM (px) 
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 
  64 / 80 / 96 / 128 */


  /* COLORS
  -MAIN #f71735
  -GREY #fdfffc
  #011627
  -ACCENT: #ff9f1c, #41ead4
  
  */

/* ************** */
/* GENERAL STYLE */
/* ************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

body {
    font-family: 'Karla',sans-serif;
    line-height: 1;
    font-weight: 400;
   color:#011627;
}
strong{
    color:#f71735
}


.grid-2{
    display:grid;
    grid-template-columns: 70fr 30fr;
    align-items: center;
}
.grid-2-equal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:3.2rem;
}


/* ************** */
/* HERO SECTION */
/* ************** */
.section-hero{
background-image: linear-gradient(rgb(1, 22, 39, 0.98), rgb(1, 22, 39, 0.88)),url("/img/hero.jpg")  ;
height:100vh;
background-position: center;


    }

.hero-heading{
    font-size: 5.2rem;
        color: #f71735;
        font-weight: 600;
        line-height: 1.8;
        padding-left: 4.8rem;
}

.hero-text-strike{
    text-decoration:line-through;
}
.hero-text{
    font-size: 4.4rem;
    color: #fdfffc;
    font-weight: 600;
    line-height: 1.8;
    padding-left:4.8rem;
        
}
.icon-down{
    color:#fdfffc;
    font-size:4.8rem;
}

.hero-CV{
    position: fixed;
    top: 5rem;
    right:5rem;
    cursor:pointer;

    border:none;
    background-color:#f71735;
    font-size: 1.8rem;
    font-weight:700;
    text-transform: uppercase;
    letter-spacing: 1.2;
    padding:1rem;
    border-radius:0.5rem;
}

/* ************** */
/* PORTFOLIO SECTION */
/* ************** */

.portfolio-img{
    width:100%;
   
    border-radius:15rem;
}

.portfolio-text{
    font-size:2.4rem;
    line-height:1.6;
}
.portfolio-item{
    margin:6.4rem;
}
.icon-down2 {
    
    font-size: 4.8rem;
    
}

/* ************** */
/* SKILLS SECTION */
/* ************** */


.skills-grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:1.2rem;
    margin:4.8rem;
}
.skill{
    background-color:#ff9f1c;
    font-size:1.8rem;
    border-radius:1.2rem;
    padding:1.2rem;
    min-height: 24rem;
}
.skill:hover{
    transform: scale(1.1);
}

.skill h2{
    margin-bottom:1.2rem;
}
.skill p{
    font-size:1.8rem;
    line-height:1.6;
}
.skill-contact{
    background-color:#011627;
    color:#fdfffc
}
.mail-link{
    text-decoration: none;
    cursor:pointer;
}
/* .skill-contact:hover{
    background-color:#1a2d3d;
} */
/* ************** */
/* Media Queries  */
/*************** */

@media(max-width:70em){
    html{
        font-size:55%;
    }
    .skills-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .mail-link{
       grid-column:3;
       grid-row:1;
      
    }
}

@media(max-width:52em) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .mail-link{
        grid-column:2;
        grid-row:1;
    }
   
    .grid-2-equal{
        grid-template-columns: 1fr ;
        align-items: center;
        
    }
    #workout-img{
        grid-row-start:1;
    }

}